@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body {
        background-image: url('../img/pattern.png');
    }

    /*FUENTES*/
    @font-face{
        font-family: "TrebuchetMS";
        src: url('fonts/TrebuchetMS.ttf');
        font-weight: normal;
        font-style: normal;
    }

    @font-face{
        font-family: "BebasNeue";
        src: url('fonts/BebasNeue.otf');
        font-weight: normal;
        font-style: normal;
    }

    @font-face{
        font-family: "WebSymbolsRegular";
        src: url('fonts/websymbols-regular-webfont.eot');
        src: url('fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
            url('fonts/websymbols-regular-webfont.woff') format('woff'),
            url('fonts/websymbols-regular-webfont.ttf') format('truetype'),
            url('fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    .symbol {
        font-family: "WebSymbolsRegular";    
    }

    .bebas {
        font-family: "BebasNeue";
    }

    .trebuchet {
        font-family: "TrebuchetMS";
    }
}

@layer components {
    
    .menu-items {
        @apply 
            ml-5 
            mr-5 
            tracking-wider 
            flex-none
            xs:flex-1
        ;
    }
    .menu-item-a {
        @apply 
            block 
            transition
            duration-200 
            hover:text-azul-claro 
            transform hover:scale-125
        ;
    }

    .text-banner {
        font-family: "BebasNeue";
        text-shadow: 2px 2px 1px black;
    }

    /* style card */
    .card {
        @apply
            flex-1
            md:h-60
            lg:h-80
            border-2
            border-gray-200
            shadow-md
            bg-white
            overflow-hidden
            m-2
            mt-10
            pt-5
            pl-2
            pr-2
            pb-2
            cursor-pointer
            transition
            duration-300
            hover:bg-black
        ;
    }

    .card-icon {
        font-family: "WebSymbolsRegular";
        @apply 
           block
           w-full
           h-28
           text-5xl
           text-center
           mx-auto
           transition
           duration-300 
        ;
    }

    .card-title {
        @apply
            w-full
            m-0
            p-0
            h-12
            text-xl
            font-bold
            text-center
            text-azul-claro
            transition
            duration-300

            xs:text-sm
            sm:text-sm
            md:text-sm
            lg:text-lg


        ;
    }

    .card-body {
        font-family: "TrebuchetMS";
        @apply
            text-center
            text-blue-900
            text-base
            transition
            duration-300
            xs:hidden
            sm:hidden
            md:hidden
            lg:block
            lg:text-sm
            lg:mt-1.5
        ;

    }
    
    .articles-header {
        font-family: "BebasNeue";
        background: url('../img/pxgray.png'), white;
        @apply
            block
            w-full 
            h-20 
            text-center 
            text-4xl
            font-medium
            tracking-widest 
            pt-5
            rounded
            shadow-header3D
        ;
    }

    .article-item {
        @apply
            w-full
            h-auto border
            border-gray-200 
            m-10 mx-auto 
            p-2.5 
            bg-white 
            text-black 
            shadow-md
        ;
    }

    .article-data {
        @apply
            float-right 
            bg-gray-700 
            h-10 leading-6 
            p-2 
            text-white 
            text-sm 
            -m-2.5 
            rounded-bl-lg
        ;
    }

    .article-data span { 
        @apply
            m-2.5
        ;
    }

    .article-head {
        @apply  
            block 
            text-2xl 
            m-1
            sm:text-lg
        ;
    }

    .article-head a {
        @apply
            font-semibold 
            text-azul-claro 
            hover:underline
        ;
    }
    
    .article-body {
        @apply
            block 
            mt-3 
            mb-3 
            text-base 
            font-sans 
            font-normal
        ;
    }

    .aside-header {
        font-family: "BebasNeue";
        background: url('../img/pxgray.png'), white;
        @apply
            block 
            h-11 
            leading-10 
            text-3xl 
            font-medium 
            tracking-widest 
            pl-3.5 
            pt-1 
            mb-3.5 
            border 
            shadow-header3D
        ;
    }

    .aside-box {
        @apply 
            w-10/12
            max-w-xs 
            h-60 
            mx-auto 
            mt-5 
            mb-7
            pt-1 
            shadow-box
            xs:w-60
        ;
    }

    .login-icon {
        @apply
            symbol 
            text-center
            absolute 
            mt-1 
            ml-8 
            h-8
        ;
    }


    .login-input {
        @apply
            block 
            mx-auto 
            mt-5 
            w-10/12 h-8 
            border 
            border-gray-300 
            shadow-inner 
            pl-7 
            ml-7  
            rounded-md 
            text-gray-500 
            transition 
            duration-300 
            outline-none 
            focus:outline-none 
            focus:text-gray-600
        ;
    }

    .login-buttom {
        @apply
            trebuchet 
            w-24 
            h-8 
            mt-5 
            ml-5 
            mb-5 
            text-center 
            text-white
            text-base 
            font-light 
            border 
            border-blue-900 
            bg-gradient-to-b 
            from-azul-claro 
            to-blue-800 
            transition 
            duration-300 
            rounded-none 
            cursor-pointer 
            hover:shadow-lg
        ;
    }

    .login-link {
        @apply
        block ml-4 text-sm text-gray-500 hover:underline hover:text-blue-900;
    }

    .social-icon {
        font-family: "WebSymbolsRegular";
        @apply
            block text-gray-700 text-3xl mt-3 mb-5 ml-5;
    }

    .social-overlay{
        @apply
            block 
            absolute 
            h-10 pl-2 
            pr-2 pt-1 
            ml-16 
            -mt-14 font-sans 
            font-bold 
            text-gray-700 
            tracking-wide 
            shadow-md 
            border-4 
            border-white 
            bg-gray-100 
            transition 
            duration-300 
            opacity-0 
            -translate-x-3/4
            cursor-pointer
        ;
    }


    /* fin style card */
}